<div class="features">
    <div class="background-image"></div>
    <ul class="list features-list">
        <li class="feature-item">

            <img class="feature-image" src="http://getcoconut.com/wp-content/uploads/2017/02/Tax-calendar.png"/>

            <div class="content">
                <h4 class="feature-title">Tax calendar</h4>

                <p class="para">Gentle nudges to keep you calm and on top of your filing deadlines with HMRC.</p>
            </div>
        </li>
        <li class="feature-item">
            <img class="feature-image" src="http://getcoconut.com/wp-content/uploads/2017/02/Business-expense-tracking.png"/>
            <h4>Business expense tracking</h4>

            <p>Mess-free record keeping to make sure you're claiming all your tax-deductible expenses.</p>
        </li>
        <li class="feature-item">
            <img class="feature-image" src="http://getcoconut.com/wp-content/uploads/2017/02/Payment-requests-reminders.png"/>
            <h4>A running tax bill</h4>

            <p>Real-time previews of your tax assessment to avoid nasty surprises at the end of the year.</p>
        </li>
        <li class="feature-item">
            <img class="feature-image" src="http://getcoconut.com/wp-content/uploads/2017/02/Business-expense-tracking.png"/>
            <h4>Payment requests & reminders</h4>

            <p>Tools to help you get paid in full and on time, with notifications when payments hit your account.</p>
        </li>
        <li class="feature-item">
            <img class="feature-image" src="http://getcoconut.com/wp-content/uploads/2017/02/Share-your-records.png"/>
            <h4>Share your records</h4>

            <p>The freedom to export all your data in seconds when it’s time to share it with your accountant.</p>
        </li>
    </ul>
    <ul class="list breadcrumbs-list">
        <li>
            <a href="#">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #73cbca;
                            }

                            .cls-2 {
                                fill: #66d7d1;
                            }
                        </style>
                    </defs>
                    <title>
                        Asset 5
                    </title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1" d="M15.32,16.36h-.24c-2.11,0-3.1,1-3.1,3.1a9.38,9.38,0,0,0,1.11,4.07c.4.84.81,1.56,1.1,2.1.37-.08.76-.15,1.14-.21a15.22,15.22,0,0,1-.94-5A8.63,8.63,0,0,1,15.32,16.36Z"/>
                            <path class="cls-1" d="M28.92,16.35h-.24a8.51,8.51,0,0,1,.92,4.07,15.15,15.15,0,0,1-1,5l1.13.21c.39-.68.77-1.39,1.15-2.15A9.26,9.26,0,0,0,32,19.45C32,17.34,31,16.35,28.92,16.35Z"/>
                            <path class="cls-1" d="M25,16.77A5.06,5.06,0,0,0,22,16a5.08,5.08,0,0,0-3,.75l0,0-.12.07a4.39,4.39,0,0,0-1.31,3.59,12.67,12.67,0,0,0,1,4.63c.68-.05,1.33-.1,2-.12L21,19.39a1,1,0,0,1,1-.92,1,1,0,0,1,1,1L23.47,25c.66,0,1.33.06,2,.11a14.08,14.08,0,0,0,1.05-4.6,4.42,4.42,0,0,0-1.28-3.55A1.27,1.27,0,0,1,25,16.77Z"/>
                            <path class="cls-2" d="M22,0A22,22,0,1,0,44,22,22,22,0,0,0,22,0Zm9.21,34.46H12.72V31.07H31.21Zm2.48-9.62c-.68,1.33-1.53,2.89-1.87,3.39h0l-.59.93-.18,0H12.73l-.59-.93h0c-.32-.46-1.13-1.9-1.83-3.29a13,13,0,0,1-1.44-5.44c0-3.88,2.32-6.2,6.2-6.2a7.15,7.15,0,0,1,2.81.54A7.94,7.94,0,0,1,20.56,13a1.57,1.57,0,0,1-.26-.86A1.57,1.57,0,0,1,20.3,9a1.54,1.54,0,0,1,1.57-1.57A1.58,1.58,0,0,1,23.45,9,1.54,1.54,0,0,1,25,10.53a1.58,1.58,0,0,1-1.57,1.57,1.61,1.61,0,0,1-.23.82,7.77,7.77,0,0,1,2.89.85,6.94,6.94,0,0,1,2.81-.54c3.88,0,6.2,2.3,6.2,6.16A12.55,12.55,0,0,1,33.69,24.84Z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <defs>
                        <style>.cls-1 {
                            fill: #30262d;
                        }</style>
                    </defs>
                    <title>Asset 8</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1" d="M0,40l3-3,3,3,3-3,3,3,3-3,3,3,3-3,3,3,3-3,3,3,3-3,3,3V0L33,3,30,0,27,3,24,0,21,3,18,0,15,3,12,0,9,3,6,0,3,3,0,0ZM30,14H6V10H30Zm0,8H6V18H30Zm0,8H6V26H30Z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <defs>
                        <style>.cls-1 {
                            fill: #30262d;
                        }

                        .cls-2 {
                            clip-path: url(#clip-path);
                        }

                        .cls-3 {
                            fill: #30262d;
                        }</style>
                        <clipPath id="clip-path" transform="translate(-1.99 -4)">
                            <rect class="cls-1" width="48" height="48"/>
                        </clipPath>
                    </defs>
                    <title>Asset 1</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <g class="cls-2">
                                <path class="cls-3" d="M26.68,25.56l-4.24-4.24,4.88-4.88,4.24,4.24Zm2.06-11a2,2,0,0,0-2.82,0L2.58,37.92a2,2,0,0,0,0,2.82l4.68,4.68a2,2,0,0,0,2.82,0L33.4,22.1a2,2,0,0,0,0-2.82ZM44,4,39,6.8,34,4l2.8,5L34,14l5-2.8L44,14,41.2,9ZM39,30.8,34,28l2.8,5L34,38l5-2.8L44,38l-2.8-5L44,28ZM15,11.2,20,14,17.2,9,20,4,15,6.8,10,4l2.8,5L10,14Z" transform="translate(-1.99 -4)"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <defs>
                        <style>.cls-1 {
                            fill: #30262d;
                        }</style>
                    </defs>
                    <title>Asset 2</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1" d="M30,28V17A13,13,0,0,0,20,4.36V3a3,3,0,0,0-6,0V4.36A13,13,0,0,0,4,17V28L0,32v2H34V32ZM17,40a4,4,0,0,0,4-4H13A4,4,0,0,0,17,40Z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <defs>
                        <style>.cls-1 {
                            fill: #30262d;
                        }</style>
                    </defs>
                    <title>Asset 3</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1" d="M18,12l-8,8h6V32h4V20h6ZM32,0H4A4,4,0,0,0,0,4V28a4,4,0,0,0,4,4h8V28H4V8H32V28H24v4h8a4,4,0,0,0,4-4V4A4,4,0,0,0,32,0Z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
    </ul>
</div>