<h1>We've changed our name</h1>
<h2>Coconut</h2>
<p>On 23 February 2017, Monizo became Coconut.</p>
<p>We're building a business back account tailored to the needs of the freelancers and independant workers.</p>
<p>Coconut is designed to take you back to where you started freelancing, and takes the stress out of managing your money.</p>

<a href="/">Enter Site</a>
<a href="/somewhere"/>Fead more about our name change</a>