<div class="landing-page">
    <div class="page-container">
        <h1 class="main-title">We've changed our name</h1>
        <h2 class="secondary-title">
            <span class="hidden-text">Coconut</span>
        </h2>
        <p class="text-para first">On 23 February 2017, Monizo became Coconut.</p>
        <p class="text-para">We're building a business back account tailored to the needs of the freelancers and independant workers.</p>
        <p class="text-para">Coconut is designed to take you back to where you started freelancing, and takes the stress out of managing your money.</p>
        <a class="button-link" href="/">Enter Site</a>
        <a class="text-link" href="/somewhere"/>Read more about our name change</a>
    </div>
</div>